<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46815929-1', 'hamburgbrewing.com');
  ga('send', 'pageview');

</script>
<!--Google Analytics-->

<h1>About Us</h1>
<img src="/taps.JPG" width="100%" height="100%"/>

	<div class="col-md-9">
		<h1>Hamburg Brewing Company</h1>
		<p class="lead">
			The Hamburg Brewing Company is dedicated to crafting great beers. We are determined to further enhance the history and ever-growing beer culture found in the Western New York area by letting our fresh, high quality products speak for themselves.
			<br>
			<br>
			We are not currently filling kegs for home use, but will be soon. Stay tuned…
		</p>
		<p class="lead">	
			<a href="mailto:info@hamburgbrewing.com?subject=Feedback">Email us</a> with any questions
		</p>
	</div>
	<div class="col-md-3">
		<br>
		<p class="lead">
			<b>Taproom Hours</b>
		</p>
		<ul class="lead">
			<li><b>Wed:</b> 4-10pm</li>
			<li><b>Thurs:</b> 4-10pm</li>
			<li><b>Fri:</b> 4-10pm</li>
			<li><b>Sat:</b> 12-10pm</li>
			<li><b>Sun:</b> 12-6pm</li>
		</ul>
		<p class="lead">
			<a href="/menu">View Menu</a>
		</p>
		<p class="lead">
			6553 Boston State Rd<br>
			Hamburg, NY 14075
		</p>
		<div>
			<a href="http://www.thinknydrinkny.com/about.php" target="blank"><img class="nysba-badge" src="/nysba-member-badge.jpg"/></a>
		</div>
	</div>