<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-inner test">
  	<li><a href="/beers">BEERS</a></li>
    <li>|</li>
    <li><%= link_to 'BEER FINDER', locations_path, 'data-no-turbolink' => true %></li>
    <li>|</li>
      <li class="nav-center">
          <a href="#"><img src="/HeaderLogo.png" style='width: 25%;'/></a>
      </li>
      <li>|</li>
    <li><a href="/brewery">BREWERY</a></li>
    <li>|</li>
    <li><a href="/events">EVENTS</a></li>
  </div>
</div>

<div class='test center'>
	<div class='row'>
		<div class='col-md-12'>
	<ul>
    <li><a href="/beers">BEERS</a></li>
    <li>|</li>
    <li><%= link_to 'BEER FINDER', locations_path, 'data-no-turbolink' => true %></li>
    <li>|</li>
    <li><span><a href="/"><img src="/HeaderLogo.png" class='img-responsive'/></a></span></li>
    <li>|</li>
    <li><a href="/brewery">BREWERY</a></li>
    <li>|</li>
    <li><a href="/events">EVENTS</a></li>
  </ul>
</div>
</div>
</div>