<h3>Topics</h3>
<%= link_to news_path do %>
	HBC News <span class="badge"><%= Update.where(:category => 'News').count %></span>
	<% end %>
<br>
<%= link_to press_path  do %>
	Press <span class="badge"><%= Update.where(:category => 'Press').count %></span>
	<% end %>
<br>
<br>
<br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/pages/Hamburg-Brewing-Company/496661553713375" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<br>
<br>
<br>
<div>
<a class="twitter-timeline" width="200" height="500" href="https://twitter.com/HamburgBrewing" data-widget-id="355482650628222976">Tweets by @HamburgBrewing</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>