<script>
$(document).scroll(function () {
    var value = $(this).scrollTop();
    if ( value > 120 ) {
        $('.topMenu').fadeIn();
    } else {
        $('.topMenu').fadeOut();
    }

});
</script>

<div class="topMenu">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img src="/HBCEmblem(topMenu).png" class='img-responsive'/></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <b><li><a href="/beers">BEERS</a></li>
          <li>|</li>
          <li><%= link_to 'BEER FINDER', locations_path, 'data-no-turbolink' => true %></li>
          <li>|</li>
          <li><a href="/brewery">BREWERY</a></li>
          <li>|</li>
          <li><a href="/events">EVENTS</a></li></b>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="mainMenu test">
  <div class="navbar navbar" role="navigation">
  <div class="navbar-inner">
    <li><a href="/beers">BEERS</a></li>
    <li>|</li>
    <li><%= link_to 'BEER FINDER', locations_path, 'data-no-turbolink' => true %></li>
    <li>|</li>
      <li class="nav-center">
          <a href="#"><img src="/HeaderLogo.png" style='width: 25%;'/></a>
      </li>
      <li>|</li>
    <li><a href="/brewery">BREWERY</a></li>
    <li>|</li>
    <li><a href="/events">EVENTS</a></li>
  </div>
</div>
</div>